doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // =============== BOXICONS ===============
  link(href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet')
  // =============== CSS ===============
  link(rel='stylesheet' href='/css/layout.css')
  title #{pageTitle}
header
  // =============== NAV ===============
  nav#nav.nav
    #nav-menu.nav__menu.container
      .nav__shape
      #nav-close.nav__close
        i.bx.bx-x
      .nav__data
        .nav__mask
          // Change your profile picture
          img.nav__img(src='assets/img/perfil.png' alt='')
        span.nav__greeting Hi, I&apos;m
        h1.nav__name
          | #{userName} 
          
      ul.nav__list
        li.nav__item
          a.nav__link.active-link(href='/')
            i.bx.bx-home
            |  Home

        if(!isAuthenticated)
          li.nav__item
            a.nav__link(href='/login')
              i.bx.bx-user
              |  Login
        li.nav__item
          a.nav__link(href='/register')
            i.bx.bx-briefcase-alt-2
            |  Register
        
        if(isAuthenticated)
          li.nav__item
            a.nav__link(href='/create')
              i.bx.bx-bookmark
              |  Create
        li.nav__item
          a.nav__link(href='/about')
            i.bx.bx-message-square-detail
            |  Contact

        if(isAuthenticated)
          form(action="/logout", method="post") 
            li.nav__item
              button(type="submit").nav__link(href='/logout')
                i.bx.bx-user
                |  Logout
  // =============== MAIN ===============
  main#main.main
    // =============== HEADER ===============
    header#header.header
      nav.header__nav.container
        a.header__logo(href='/')
          | #{userName}
        // Toggle button
        #header-toggle.header__toggle
          i.bx.bx-grid-alt
    // When inserting your content into sections, remove the section__height class
    // =============== HOME ===============
    section#home.section
      block content
    // =============== ABOUT ===============
    section#about.section
    // =============== PORTFOLIO ===============
    section#portfolio.section
    // =============== SKILLS ===============
    section#skills.section
    // =============== CONTACT ===============
    section#contact.section
  // =============== MAIN JS ===============
    
  script(src='script.js')
